<a href="https://colab.research.google.com/github/arikaran007/Java/blob/main/LIst_Set_tuple_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]

my_list=[]
for n in nums:
  my_list.append(n)
print (my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
my_list = [n for n in nums]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]

my_list=[]
for n in nums:
  my_list.append(n*n)
print (my_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
my_list = [n*n for n in nums]
print(my_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
my_list = map(lambda n:n*n,nums)
print(my_list)

<map object at 0x7fc9e6533760>

In [ ]:
my_list=[]
for n in nums:
  if n%2==0:
    my_list.append(n)
print(my_list)

[0, 2, 4, 6, 8]

In [ ]:
my_list = filter(lambda n: n%2==0 , nums)
print(my_list)

<filter object at 0x7fc9e6533d90>

In [ ]:
my_list=[]
for letter in 'abcd':
  for num in range(4):
    my_list.append((letter,num))
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [ ]:
my_list = [(letter,num) for letter in 'abcd' for num in range(4)]
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

dictionary comprehension

In [ ]:
name = ['bruce','clark','peter']
hero = ['batman','superman','spiderman']
print(zip(name,hero))

<zip object at 0x7fc9e6443c80>

In [ ]:
my_dict = {}
for names,heros in zip(name,hero):
  my_dict[names]= heros
print(my_dict)

{'bruce': 'batman', 'clark': 'superman', 'peter': 'spiderman'}

In [ ]:
my_dict = {names:heros for names,heros in zip(name,hero)}
print(my_dict)

{'bruce': 'batman', 'clark': 'superman', 'peter': 'spiderman'}

set comprehension

In [ ]:
nums = [1,2,3,1,2,3,4,4,5,6,7,8,5]
my_set = set()
for n in nums:
  my_set.add(n)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
my_set = set(n for n in nums)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

Generator expression

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]

def get_func(nums):
  for n in nums:
    yield n*n

my_gen = get_func(nums)

for i in my_gen:
  print(i)

0
1
4
9
16
25
36
49
64
81

In [ ]:
my_gen = (n*n for n in nums)
print(my_gen)

<generator object <genexpr> at 0x7fc9e62dba00>